<ion-view>
<ion-content>
  <div >
    <img class="logologin" src="img/logots.png" >
  </div>
  <div class="list list-inset">
  <label id="form" class="item item-input">
    <input type="text" placeholder="Username">
  </label>
  <label id="form" class="item item-input l">
    <input type="text" placeholder="Password">
  </label>
  <button id="form" class="button button-block button-balanced" ui-sref="home"> Sign In </button>
  <button id="form" class="button button-block button-balanced" ui-sref="home"> Create Account </button>
  <button id="form" class="button button-block button-balanced" ui-sref="home"> Exit </button>
</div>
</ion-content>
</ion-view>