.logologin{
	margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15%;
    display: block;
    width:20%;
    height:auto;
     padding:auto;
}
#form{
	margin:5px;
}
input{
	margin:5px;
}